# What relationship can we derive when comparing groundwater quality data with drinking water quality? 

Aim to build a classification model to quantify the association between groundwater monitoring results from the Groundwater Ambient Monitoring and Assessment (GAMA) and the Dept of Drinking water quality results (CDPH). From there, predict where and when contamination is most likely to occur. For a classification model, I would rely on the AUC ROC metric to evaluate the model’s performance. Since detection of contamination in a system’s supply is a matter of public health, optimization should be geared towards precision.

I am limiting the scope to Kern County from 2012 - present. This is a follow up to a report published in 2013 about communities in California that rely on contaminated groundwater as a water source, identifying Kern County as having the most community water systems that are 100% reliant on groundwater.

# Library Imports

In [1]:
import numpy as np
import pandas as pd

# Data Import

## Drinking Water Site Locations

In [3]:
raw_drinksite = pd.read_excel('./assets/Drinkingwater/siteloc.xlsx')

In [4]:
print(raw_drinksite.shape)
raw_drinksite.head()

(58328, 11)

,PRI_STA_C,FRDS_NO,COUNTY,DISTRICT,USER_ID,SYSTEM_NO,WATER_TYPE,SOURCE_NAM,STATION_TY,STATUS,COMMENT_1
0,4301014-001,4301014001,43,17,SAN,4301014,G,WELL 01 - TREATED,NaN,AT,NaN
1,4301014-002,4301014002,43,17,SAN,4301014,G,WELL 01- CL2 TREATMENT,NaN,DT,NaN
2,2300906-002,2300906002,23,3,RXR,2300906,G,DBP SAMPLE LOCATION,NaN,DT,NaN
3,2310006-030,2310006030,23,3,RXR,2310006,G,DBP 781 TOKAY DRIVE,NaN,DT,NaN
4,2300955-001,2300955001,23,3,RXR,2300955,G,WELL 01,NaN,AR,NaN

In [248]:
# From the Data Dictionary, Kern County is County code 15
kern_sites = raw_drinksite[raw_drinksite['COUNTY'] == 15].copy()

In [249]:
len(kern_sites)

3241

In [250]:
kern_sites.head()

,PRI_STA_C,FRDS_NO,COUNTY,DISTRICT,USER_ID,SYSTEM_NO,WATER_TYPE,SOURCE_NAM,STATION_TY,STATUS,COMMENT_1
31,1503226-004,1503226004,15,19,TEH,1503226,G,WELL 01- UMTALI WELL CL2 TREATMENT XCLD,NaN,AT,NaN
32,1503226-005,1503226005,15,19,TEH,1503226,G,WELL 02- MONTCLAIRE WELL CL2 TREATMENT,NaN,AT,NaN
33,1503226-901,1503226901,15,19,TEH,1503226,G,ST2S1- COUNTRY CANYON & UMTALI SAMPLE ST,NaN,DT,NaN
73,1503576-005,1503576005,15,19,TEH,1503576,G,WELL 02,NaN,AR,NaN
93,1504009-001,1504009001,15,12,CYA,1504009,G,WELL 001,NaN,AR,NaN

### Notes
Care about:
Water Type = G only
Status = AR (Active Raw), AU (Active Untreated)

Drop: FRDS_NO, County, District, User, Comments.

Not sure how to handle Station Type just yet. There's a lot to parse

In [251]:
kern_sites.drop(['FRDS_NO', 'COUNTY', 'DISTRICT', 'USER_ID', 'COMMENT_1'], axis=1, inplace=True)

In [252]:
# Water type 'G' for Groundwater
kern_sites = kern_sites[kern_sites['WATER_TYPE'] == 'G']

# Well status 'AR' and 'AU' for Active Raw and Active Untreated, respectively
kern_sites = kern_sites[(kern_sites['STATUS'] == 'AR') | (kern_sites['STATUS'] == 'AU')]

In [253]:
kern_sites.shape

(991, 6)

In [254]:
kern_sites.head()

       PRI_STA_C  SYSTEM_NO WATER_TYPE SOURCE_NAM STATION_TY STATUS
73   1503576-005    1503576          G    WELL 02        NaN     AR
93   1504009-001    1504009          G   WELL 001        NaN     AR
183  1503684-001    1503684          G    WELL 01        NaN     AR
193  1510028-014    1510025          G    WELL 09        NaN     AR
194  1510028-015    1510028          G    WELL 10        NaN     AR

In [255]:
# Type is ok to drop, no additional information about the well since I already specified water type to groundwater
kern_sites['STATION_TY'].unique()

array([nan, 'WELL/AMBNT', 'WELL/AMBNT/MUN/INTAKE/SUPPLY',
       'WELL/AMBNT/MUN/INTAKE', 'SPRING/AMBNT',
       'COMB/WELL/SPRING/AMBNT/MUN/INTAKE', 'WELL', 'WELL/AMBNT/SUPPLY',
       'WELL IS LOCATED 0.2 MILES SOUT', 'WELL IS LOCATED 0.05 MILES NOR',
       'WELL/ALDERWOOD STREET JUST WEST OF',
       'WELL IS LOCATED 0.12 MILES SOU', 'WELL/AMBMT', 'WELL/AMBNT/',
       'WELL/AMBNT/MUN', 'Well/Ambient', 'Well/AMBNT', 'Well',
       'SPRING/AMBNT/MUN/INTAKE/SUPPLY', 'WELL/AMBNT/MUN/SUPPLY',
       'WELL/AMBANT/MUN/INTAKE', 'WELLAMBANT/MUN/INTAKE/SUPPLY'],
      dtype=object)

In [256]:
kern_sites.drop(['WATER_TYPE', 'STATUS', 'SOURCE_NAM', 'STATION_TY'], axis=1, inplace=True)
kern_sites.reset_index(drop=True, inplace=True)

In [16]:
site_dict = kern_sites.set_index('PRI_STA_C').T.to_dict('records')

In [17]:
#currently is a dict inside a list, just need the dict

site_dict = site_dict[0]

In [246]:
# site_dict

## Chemical Name Table with Maximum levels

In [34]:
store_num = pd.read_excel('./assets/Drinkingwater/storet.xlsx')

In [35]:
print(store_num.shape)
store_num.head()

(579, 13)

,STORE_NUM,CHEMICAL__,AKA1,AKA2,CLS,RPT_CDE,RPT_UNIT,MCL,NL,TRIGGER_AM,DLR,RPHL,CHEM_SORT_
0,77562,"1,1,1,2-TETRACHLOROETHANE",NaN,NaN,P,UA,UG/L,0.0,0.0,0.0,0.5,0.0,"TETRACHLOROETHANE-1,1,1,2"
1,34506,"1,1,1-TRICHLOROETHANE","1,1,1-TCA",TCA,P,S1,UG/L,200.0,0.0,0.0,0.5,200.0,"TRICHLOROETHANE-1,1,1"
2,34516,"1,1,2,2-TETRACHLOROETHANE",NaN,NaN,P,S1,UG/L,1.0,0.0,0.0,0.5,1.0,"TETRACHLOROETHANE-1,1,2,2"
3,81611,"1,1,2-TRICHLORO-1,2,2-TRIFLUOROETHANE",FREON 113,TRICHLOROTRIFLUOROETHANE,P,S1,UG/L,1200.0,0.0,10.0,10.0,1200.0,"TRICHLOROTRIFLUOROETHANE-1,1,2"
4,34511,"1,1,2-TRICHLOROETHANE","1,1,2-TCA",NaN,P,S1,UG/L,5.0,0.0,0.0,0.5,1.0,"TRICHLOROETHANE-1,1,2"

In [36]:
store_num.isnull().sum()

STORE_NUM       0
CHEMICAL__      0
AKA1          300
AKA2          535
CLS             5
RPT_CDE         8
RPT_UNIT       16
MCL             2
NL              2
TRIGGER_AM      2
DLR             2
RPHL            2
CHEM_SORT_     13
dtype: int64

In [65]:
store_num[store_num['MCL'].isnull()]

,STORE_NUM,CHEMICAL__,AKA1,AKA2,CLS,RPT_CDE,RPT_UNIT,MCL,NL,TRIGGER_AM,DLR,RPHL,CHEM_SORT_
474,C2807,N-ETHYL PERFLUOROOCTANESULFONAMIDOACETIC ACID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N-ETHYL PERFLUOROOCTANESULFONAMIDOACETIC ACID
475,C2808,N-METHYL PERFLUOROOCTANESULFONAMIDOACETIC ACID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N-METHYL PERFLUOROOCTANESULFONAMIDOACETIC ACID

Keep: 
Stor_num
chem_sort_
MCL

Save as dict to replace Store_num

In [67]:
# These are the only columns needed for mapping
chem = store_num[['STORE_NUM', 'CHEMICAL__', 'MCL']].copy()

In [83]:
# There are two chemicals without MCLs, these do not have an established human toxicology profile.
# So I am choosing to ignore for now

display(chem[chem['MCL'].isnull()])

chem.drop([474, 475], axis=0, inplace=True)

    STORE_NUM                                      CHEMICAL__  MCL
474     C2807   N-ETHYL PERFLUOROOCTANESULFONAMIDOACETIC ACID  NaN
475     C2808  N-METHYL PERFLUOROOCTANESULFONAMIDOACETIC ACID  NaN

In [85]:
chem_dict = chem.set_index('STORE_NUM').T.to_dict('list')

In [245]:
# chem_dict

## Pre 2016 Chemical Name Table with Maximum Levels

In [184]:
store_num2 = pd.read_excel('./assets/Drinkingwater/pre 2016.xlsx')

In [186]:
print(store_num2.shape)
store_num2.head()

(571, 12)

,STORE_NUM,CHEMICAL__,AKA1,AKA2,CLS,RPT_CDE,RPT_UNIT,MCL,TRIGGER_AM,DLR,RPHL,CHEM_SORT_
0,C2801,PERFLUOROBUTANESULFONIC ACID (PFBS),(PFBS),NaN,X,XX,NG/L,0.0,0,90.0,0,PERFLUOROBUTANESULFONIC ACID (PFBS)
1,C2802,PERFLUOROHEPTANOIC ACID (PFHPA),(PFHPA),NaN,X,XX,NG/L,0.0,0,10.0,0,PERFLUOROHEPTANOIC ACID (PFHPA)
2,C2803,PERFLUOROHEXANE SULFONIC ACID (PFHXS),(PFHXS),NaN,X,XX,NG/L,0.0,0,30.0,0,PERFLUOROHEXANE SULFONIC ACID (PFHXS)
3,C2804,PERFLUORONONANOIC ACID (PFNA),(PFNA),NaN,X,XX,NG/L,0.0,0,20.0,0,PERFLUORONONANOIC ACID (PFNA)
4,508N,NEGATIVE 508 (PESTICIDES & PCB),NaN,NaN,B,XX,UG/L,0.0,0,0.0,0,NEGATIVE 508 (PESTICIDES & PCB

In [193]:
store_num2[store_num2['STORE_NUM'].str.contains('7744')]

,STORE_NUM,CHEMICAL__,AKA1,AKA2,CLS,RPT_CDE,RPT_UNIT,MCL,TRIGGER_AM,DLR,RPHL,CHEM_SORT_
366,77441,1-NAPHTHOL,NaN,NaN,B,XX,UG/L,0.000,0,0.000,0,NAPHTHOL-1
367,77443,"1,2,3-TRICHLOROPROPANE","1,2,3-TCP",NaN,P,UA,UG/L,0.005,0,0.005,0,"TRICHLOROPROPANE-1,2,3"
570,7744X,"1,2,3-TRICHLOROPROPANE","1,2,3-TCP",NaN,P,UA,UG/L,0.005,0,0.005,0,"TRICHLOROPROPANE-1,2,3"

In [208]:
chem2 = store_num2[['STORE_NUM', 'CHEMICAL__', 'MCL']].copy()

In [213]:
print(chem.shape)
print(chem2.shape)

(577, 3)
(571, 3)

In [221]:
overlap_check = pd.concat([chem, chem2], axis=0)
overlap_check.reset_index(inplace=True)

In [220]:
overlap_check['STORE_NUM'].unique()

array(['77562', '34506', '34516', '81611', '34511', '34496', '34501',
       'A-007', '77168', '77613', '77443', '7744X', '77221', '34551',
       '77222', '34536', '34531', '34541', '34346', '77614', '77226',
       '34566', '77173', '34561', 'A-083', '34571', '77285', 'A-032',
       'A-052', '77441', 'A-086', 'A-087', 'A-085', 'A-088', 'A-084',
       '77170', '34676', '39740', '39045', '34621', '81360', '39730',
       '38746', '34601', '34606', '34616', '34611', '34626', '34576',
       '34581', '34586', 'A-008', '34657', 'A-046', '34591', '34631',
       'A-095', 'A-021', '39310', '39320', '39300', 'A-050', '34636',
       '34452', '34641', 'A-009', '34646', '34205', '34200', '81815',
       '77001', 'A-058', '04240', 'A-089', 'A-090', '81552', '79193',
       '34210', '34216', 'A-002', '82383', '77825', 'A-094', 'A-091',
       '39053', 'A-020', 'A-019', '39330', '45608', '00410', '39337',
       '01105', '01106', '82184', '82051', '38404', '73509', '00612',
       'A-059', '34220', '01097', '01002', '81855', '82185', '39033',
       '81292', 'A-060', '38418', '01007', '39002', '38705', '38710',
       '34030', '39120', '34526', '34247', '34230', '34521', '34242',
       '34292', '01012', '39338', '82197', '00440', '34278', '34273',
       '34283', 'A-018', 'A-015', '81651', '01020', '82198', 'A-027',
       '82298', '81555', 'A-038', 'A-012', 'A-039', '32101', '32104',
       '34413', '77860', '81410', '45046', '45049', '01027', '81436',
       '00916', '39640', '39031', 'A-061', '77700', '38735', '81405',
       '77000', '77041', '32102', '00445', '39786', '82297', 'A-037',
       '39350', '81281', '77953', '00940', '50070', '50074', '39460',
       '34307', '34311', '32106', '34418', '38423', '77548', '81322',
       '38429', '70314', '77970', '77969', 'A-006', 'A-044', '01034',
       '01032', '34320', '82565', 'A-062', '77093', '34704', '82418',
       '01035', '00081', '11503', '11504', 'A-076', '01042', '81293',
       '39140', '77356', '81757', '01291', '81892', '39770', '38432',
       'A-045', 'A-013', '39360', '39365', '39370', '38775', '34259',
       '39560', 'A-026', 'C2814', 'A-036', '38458', '34341', '39110',
       '34596', '81287', '38783', '78004', '78885', '81888', '39650',
       '39920', '81294', '39014', '99906', '34361', '34356', '34351',
       '38926', '39390', '34366', '81290', '81894', 'A-053', '77004',
       'A-051', '39398', '46315', '34371', '77651', '77023', '38928',
       '78151', 'A-033', '38929', '38797', '38801', '38468', '38473',
       '38806', '79194', '38811', '34376', '34381', '00951', 'A-035',
       '38260', '04095', '71880', 'A-004', 'A-063', 'A-048', '79743',
       '01501', '01502', 'A-072', '03501', 'A-071', '03502', 'A-077',
       'GWR', '39580', 'A-049', '00900', '39410', '39420', '39700',
       '34391', '34386', '34396', '81591', '38815', '82203', '81313',
       '71875', '39100', '39570', '34556', '82721', 'A-040', '32105',
       '38761', '77596', '82052', '38447', '34328', '77288', '34668',
       '34423', '81327', '82356', '39780', '38454', '39380', '34336',
       '78214', '78882', '71830', 'A-064', '39800', '34403', '71865',
       'A-065', '01045', '01046', '34408', '77015', '77223', '78878',
       '01302', '71813', '71814', '01051', '39340', '38478', 'A-066',
       '01132', 'A-016', 'A-014', '00927', '39530', '38831', '38835',
       '01055', '01056', '39151', '38486', '38492', '71900', '39019',
       '39020', 'A-067', '38927', '78879', '38500', '601-N', '602-N',
       '608-N', '39051', '39480', '81595', '81596', '39600', '45058',
       '39790', '46491', '39356', 'A-092', 'A-093', '81408', '38507',
       '39755', '78883', '82199', '01062', 'A-041', 'A-042', '34301',
       '81890', '38512', '38517', 'A-068', '38935', '81710', '38851',
       '38855', '34696', '79195', 'A-010', '38522', '52.1N', '52.2N',
       '53.1N', '508N', '508PN', '54.1N', '54.2N', '525N', '525-N',
       '625-N', 'B-NEG', 'P-NEG', 'THMN', '01067', '00618', '71850',
       'A-029', '00620', '34447', '81303', '78200', '34438', '78207',
       '34428', '34433', 'A-070', '73617', '73283', '78206', '78116',
       '77822', '77745', 'A-054', '45606', '77224', 'A-055', 'A-056',
       '00086', '78884', '39022', '38865', '77135', '34453', '82416',
       '39540', '34671', '39488', '39492', '39496', '39500', '39504',
       '39508', '39029', '82410', '77793', '81501', '39032', 'A-031',
       'C2800', 'C2801', 'C2802', 'C2803', 'C2804', 'C2806', 'C2805',
       '79191', '39034', '00400', '00403', '34461', '34694', '38870',
       '81291', '39610', '78881', '00650', '00660', '998-A', '39720',
       'A-011', 'A-057', '39516', '00937', '38872', '39056', '39057',
       '38533', '39080', '82358', '39037', '82065', 'C2809', 'C2810',
       'C2811', 'C2812', 'C2813', '39024', '39052', '38537', 'R7500',
       '78132', '45609', '34469', '39930', 'A-080', 'A-081', '09501',
       '09502', 'A-074', '11501', '11502', 'A-075', 'A-082', '82303',
       '82302', '81364', '39357', '39941', '39040', '77403', '38542',
       '77350', '01147', '38548', '00955', '01077', '39055', '39054',
       '00929', '00931', '00726', '00010', '00095', '38877', '13501',
       '13502', 'A-078', '77128', '00945', '00745', 'A-005', '38555',
       '45607', '39808', '39620', '38882', '82088', '45612', '38559',
       '38887', 'A-034', '77035', '77353', 'A-047', '34475', '81849',
       '01059', 'A-001', '34010', '78880', '70300', '00680', '82080',
       '39400', '34546', '34699', '82420', '38892', 'A-043', '82723',
       '39180', '34488', '38897', 'A-069', '81284', '78136', '07000',
       '07001', 'A-079', '82078', '82079', '28012', 'A-028', 'A-073',
       '01087', 'A-003', '82200', '77057', '39175', '81551', '01092',
       '38912', '38917', '81285'], dtype=object)

In [218]:
overlap_check.shape

(1148, 3)

## Well Locations

In [264]:
raw_gw_loc = pd.read_excel('./assets/Groundwater/gama_location_kern_county.xlsx')

In [265]:
raw_gw_loc.shape

(1050, 5)

In [266]:
raw_gw_loc.head()

   DATASET               WELL ID             WELL NAME   LATITUDE   LONGITUDE
0  USGSNEW  USGS-345733118085201  USGS-345733118085201  34.959140 -118.148686
1  USGSNEW  USGS-351824117570101  USGS-351824117570101  35.306628 -117.951180
2      DHS           W0601502244           1502244-001  35.602611 -119.507496
3      DHS           W0601503431           1503431-003  35.715251 -119.427021
4      DHS           W0601510302           1510302-001  35.332059 -119.362728

In [267]:
raw_gw_loc['WELL NAME'].unique()

array(['USGS-345733118085201', 'USGS-351824117570101', '1502244-001', ...,
       '1510703-003', '1510703-001', '1502608-001'], dtype=object)

In [268]:
raw_gw_loc['DATASET'].unique()

array(['USGSNEW', 'DHS'], dtype=object)

In [269]:
#query check
raw_gw_loc[raw_gw_loc['WELL ID'].str.contains('1500341')]

     DATASET      WELL ID    WELL NAME   LATITUDE   LONGITUDE
65       DHS  W0601500341  1500341-004  35.719304 -118.548930
456      DHS  W0601500341  1500341-003  35.719302 -118.548939
457      DHS  W0601500341  1500341-010  35.728333 -118.547777
586      DHS  W0601500341  1500341-001  35.728043 -118.547440
1020     DHS  W0601500341  1500341-002  35.723178 -118.549595

In [270]:
#might need to avg lat, long for missing wells only if wells are clustered distinctly

In [271]:
# selecting columns to transform into a dict with lat/long locations
gw_loc = raw_gw_loc.drop(['DATASET', 'WELL ID'], axis=1)

In [272]:
well_loc = gw_loc.set_index('WELL NAME').T.to_dict('list')

In [262]:
# well_loc

# Notes: Geopandas? Tableau

## Drinking Water Data Test Results

In [19]:
raw_drinkchem = pd.read_excel('./assets/Drinkingwater/chemical.xlsx')

In [20]:
print(raw_drinkchem.shape)
raw_drinkchem.head()

(1048575, 12)

,PRIM_STA_C,SAMP_DATE,SAMP_TIME,LAB_NUM,ANADATE,INDATE,METHOD,INBY,SPECIAL,STORE_NUM,XMOD,FINDING
0,0103039-004,2017-11-22,848,4790,2017-11-22,2017-11-30,SM 212,#,S,00081,<,3.0
1,0103039-004,2017-11-22,848,4790,2017-11-22,2017-11-30,SM 215,#,S,00086,<,1.0
2,0103039-004,2017-11-22,848,4790,2017-11-29,2017-11-30,SM 251,#,S,00095,NaN,550.0
3,0103039-004,2017-11-22,848,4790,2017-11-29,2017-11-30,SM4500,#,S,00403,NaN,8.1
4,0103039-004,2017-11-22,848,4790,2017-11-22,2017-11-30,300.0,#,S,00618,NaN,5.7

In [21]:
raw_drinkchem.columns

Index(['PRIM_STA_C', 'SAMP_DATE', 'SAMP_TIME', 'LAB_NUM', 'ANADATE', 'INDATE',
       'METHOD', 'INBY', 'SPECIAL', 'STORE_NUM', 'XMOD', 'FINDING'],
      dtype='object')

In [22]:
# According to the WQM data dictionary, Kern county code is 15. So all Primary station code / source number will start with 15
kern_sample = [sample for sample in raw_drinkchem['PRIM_STA_C'] if sample.startswith('15')]

In [23]:
len(kern_sample)

196389

What I think I want to do here is first isolate all the Kern County samples, then drop unneccesary columns like samp_time, lab_num, anadate, indate. Not sure how important inby is or what it is. Method, Special, StoreNum, Xmod, and Finding are important but will need cleaning to change from object to numerical. StoreNum requires cross-referencing from Storet dataset, which has chemical names/parameters. I'll need to re-read AB2222 because I probably only need to compare certain contaminants.

In [24]:
# Isolate Kern samples
kern_chem = raw_drinkchem[raw_drinkchem['PRIM_STA_C'].str.startswith('15')].copy()

In [25]:
kern_chem.head()

,PRIM_STA_C,SAMP_DATE,SAMP_TIME,LAB_NUM,ANADATE,INDATE,METHOD,INBY,SPECIAL,STORE_NUM,XMOD,FINDING
852186,1500006-001,2012-01-06,933,5806,2012-01-17,2012-01-24,NaN,A,S,71850,NaN,50.00
852187,1500006-001,2012-02-03,1000,5810,2012-02-08,2012-03-02,NaN,#,S,01501,NaN,3.65
852188,1500006-001,2012-02-03,1000,5810,2012-02-08,2012-03-02,NaN,#,S,01502,NaN,0.25
852189,1500050-002,2012-08-08,1413,5806,2012-08-29,2012-09-11,NaN,A,S,01002,<,2.00
852190,1500050-002,2012-08-08,1413,5806,2012-08-29,2012-09-11,NaN,A,S,01007,NaN,46.00

In [26]:
kern_chem.drop(['SAMP_TIME', 'LAB_NUM', 'ANADATE', 'INDATE', 'METHOD', 'INBY', 'SPECIAL'], axis=1, inplace=True)
kern_chem.reset_index(drop=True, inplace=True)

In [27]:
kern_chem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196389 entries, 0 to 196388
Data columns (total 5 columns):
PRIM_STA_C    196389 non-null object
SAMP_DATE     196389 non-null datetime64[ns]
STORE_NUM     196389 non-null object
XMOD          143341 non-null object
FINDING       196389 non-null float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 7.5+ MB

### Using XMod column to modify Finding

In [28]:
kern_chem['XMOD'].value_counts()

<    143248
-        81
>        10
I         2
Name: XMOD, dtype: int64

In [29]:
# 'I' means invalid, since it has been classified as such, I am choosing to drop it from analysis
kern_chem[kern_chem['XMOD'] == 'I']

        PRIM_STA_C  SAMP_DATE STORE_NUM XMOD  FINDING
10631  1500401-003 2018-04-24     77443    I    0.011
81617  1503662-001 2018-01-11     77443    I    0.024

In [257]:
kern_chem = kern_chem[kern_chem['XMOD'] != 'I']

In [258]:
kern_chem[kern_chem['XMOD'] == '>']

,PRIM_STA_C,SAMP_DATE,STORE_NUM,XMOD,FINDING,system,chem,mcl
37252,1500599-001,2014-05-01,00086,>,200.0,1500599.0,ODOR THRESHOLD @ 60 C,3.0
37253,1500599-001,2014-08-07,00086,>,200.0,1500599.0,ODOR THRESHOLD @ 60 C,3.0
37256,1500599-001,2014-11-06,00086,>,200.0,1500599.0,ODOR THRESHOLD @ 60 C,3.0
37258,1500599-001,2015-05-14,00086,>,200.0,1500599.0,ODOR THRESHOLD @ 60 C,3.0
37402,1500599-003,2014-09-04,00086,>,200.0,NaN,ODOR THRESHOLD @ 60 C,3.0
38232,1500600-007,2017-05-04,01002,>,2.0,NaN,ARSENIC,10.0
42720,1502320-002,2014-03-24,00086,>,200.0,1502320.0,ODOR THRESHOLD @ 60 C,3.0
42722,1502320-002,2014-06-12,00086,>,200.0,1502320.0,ODOR THRESHOLD @ 60 C,3.0
42974,1502320-003,2014-03-24,00086,>,200.0,1502320.0,ODOR THRESHOLD @ 60 C,3.0
42977,1502320-003,2014-06-12,00086,>,200.0,1502320.0,ODOR THRESHOLD @ 60 C,3.0

In [260]:
kern_chem[kern_chem['XMOD'] == '-'][:10]

,PRIM_STA_C,SAMP_DATE,STORE_NUM,XMOD,FINDING,system,chem,mcl
1252,1500209-002,2013-05-15,71813,-,0.140,1500209.0,LANGELIER INDEX @ 60 C,0.0
1954,1500211-002,2013-04-02,71813,-,0.210,1500211.0,LANGELIER INDEX @ 60 C,0.0
2972,1500251-003,2013-07-22,71813,-,0.330,1500251.0,LANGELIER INDEX @ 60 C,0.0
3325,1500251-004,2012-07-23,71813,-,0.570,1500251.0,LANGELIER INDEX @ 60 C,0.0
3396,1500251-004,2015-07-20,71813,-,1.300,1500251.0,LANGELIER INDEX @ 60 C,0.0
7592,1500341-010,2013-05-01,71813,-,0.810,1500341.0,LANGELIER INDEX @ 60 C,0.0
7930,1500349-001,2012-04-03,71813,-,0.240,1500349.0,LANGELIER INDEX @ 60 C,0.0
8150,1500349-002,2012-04-03,71813,-,0.086,1500349.0,LANGELIER INDEX @ 60 C,0.0
12294,1500407-005,2012-01-23,71813,-,0.280,NaN,LANGELIER INDEX @ 60 C,0.0
12447,1500407-005,2014-01-07,71813,-,0.570,NaN,LANGELIER INDEX @ 60 C,0.0

### Adding System column

In [223]:
# Add a column called 'System' to see which system a sample belongs to, map using site_dict
kern_chem['system'] = kern_chem['PRIM_STA_C'].map(site_dict, na_action='ignore')

In [31]:
kern_chem.head()

    PRIM_STA_C  SAMP_DATE STORE_NUM XMOD  FINDING     system
0  1500006-001 2012-01-06     71850  NaN    50.00  1500006.0
1  1500006-001 2012-02-03     01501  NaN     3.65  1500006.0
2  1500006-001 2012-02-03     01502  NaN     0.25  1500006.0
3  1500050-002 2012-08-08     01002    <     2.00  1500050.0
4  1500050-002 2012-08-08     01007  NaN    46.00  1500050.0

In [32]:
kern_chem.isnull().sum()

PRIM_STA_C        0
SAMP_DATE         0
STORE_NUM         0
XMOD          53048
FINDING           0
system        60279
dtype: int64

In [224]:
# These are orphan stations/sources 
kern_chem[kern_chem['system'].isnull()].groupby('PRIM_STA_C').count()

             SAMP_DATE  STORE_NUM  XMOD  FINDING  system  chem   mcl
PRIM_STA_C
1500050-004        115        115    85      115       0   115   115
1500209-901         22         22    18       22       0    22    22
1500211-900         22         22    22       22       0    22    22
1500216-900         22         22    21       22       0    22    22
1500231-900         46         46    32       46       0    46    46
1500251-901         41         41    18       41       0    41    41
1500289-001         16         16     6       16       0    16    16
1500289-900         11         11     8       11       0    11    11
1500290-901         55         55    25       55       0    55    55
1500290-902         55         55    25       55       0    55    55
1500296-900         44         44    38       44       0    44    44
1500314-002        118        118    94      118       0   118   118
1500314-900         38         38     0       38       0    38    38
1500324-901         77         77    70       77       0    77    77
1500327-901         11         11     8       11       0    11    11
1500333-901         52         52    40       52       0    52    52
1500333-902         55         55    37       55       0    55    55
1500340-901         22         22    15       22       0    22    22
1500341-001        112        112    92      112       0   112   112
1500341-005        127        127    82      127       0   127   127
1500341-901         33         33    23       33       0    33    33
1500344-900         11         11     9       11       0    11    11
1500364-901         22         22    10       22       0    22    22
1500371-004          2          2     1        2       0     2     2
1500371-901         11         11     3       11       0    11    11
1500374-901         60         60    51       60       0    60    60
1500374-902         58         58    52       58       0    58    58
1500378-900         11         11     9       11       0    11    11
1500393-901         55         55    22       55       0    55    55
1500398-001        109        109    62      109       0   109   109
...                ...        ...   ...      ...     ...   ...   ...
1510003-194          7          7     7        7       0     7     7
1510003-196         30         30    30       30       0    30    30
1510003-200          9          9     9        9       0     9     9
1510003-250       2020       2020   637     2020       0  2020  2020
1510003-251       4794       4794  4678     4794       0  4794  4794
1510003-252       1379       1379   736     1379       0  1379  1379
1510003-253       1565       1565   531     1565       0  1565  1565
1510003-260         11         11    11       11       0    11    11
1510003-261         19         19    19       19       0    19    19
1510003-262         19         19    19       19       0    19    19
1510003-264         21         21    21       21       0    21    21
1510003-265       1475       1475  1475     1475       0  1475  1475
1510003-267        107        107    97      107       0   107   107
1510003-900        550        550   107      550       0   550   550
1510003-901        429        429   105      429       0   429   429
1510003-902        512        512    90      512       0   512   512
1510003-903        494        494   107      494       0   494   494
1510003-904        300        300    95      300       0   300   300
1510003-905        453        453   254      453       0   453   453
1510003-906        495        495    92      495       0   495   495
1510003-907        512        512    95      512       0   512   512
1510005-004        153        153   128      153       0   153   153
1510005-012        165        165   132      165       0   165   165
1510005-016        154        154   130      154       0   154   154
1510005-018        213        213   135      213       0   213   213
1510005-020        153        153   129      153       0   153   153
1510005-027         47         47    25       47       0    47    47
1510005-028        186        186   157      186       0   186   186
1510005-030        228        228   123      228       0   228   228
1510005-032        203        203   152      203       0   203   203

[415 rows x 7 columns]

# Notes:
Investigate null systems here

### Adding Chemical Names

In [195]:
# This uncapitalized 'x' error will cause the chemical mapping to go wrong
kern_chem[kern_chem['STORE_NUM'] == '7744x']

         PRIM_STA_C  SAMP_DATE STORE_NUM XMOD  FINDING     system  chem  mcl
167630  1510003-139 2017-12-22     7744x    <    0.000        NaN  None  NaN
171064  1510003-149 2017-12-27     7744x  NaN    0.006  1510003.0  None  NaN
172269  1510003-151 2017-12-28     7744x  NaN    0.006  1510003.0  None  NaN
173155  1510003-154 2017-12-27     7744x  NaN    0.170  1510003.0  None  NaN

In [197]:
kern_chem['STORE_NUM'].replace('7744x', '7744X', inplace=True)

In [198]:
kern_chem[kern_chem['STORE_NUM'] == '7744x']

Empty DataFrame
Columns: [PRIM_STA_C, SAMP_DATE, STORE_NUM, XMOD, FINDING, system, chem, mcl]
Index: []

In [200]:
# Using a lambda function, create two columns for the chemical name and MCL from chem_dict
kern_chem['chem'] = kern_chem['STORE_NUM'].map(lambda x:
                                               chem_dict[x][0] if x in chem_dict.keys() else None)
kern_chem['mcl'] = kern_chem['STORE_NUM'].map(lambda x:
                                               chem_dict[x][1] if x in chem_dict.keys() else None)

In [201]:
#check to see if any 'NaN's were created in this way
kern_chem[kern_chem['chem'].isna()]

        PRIM_STA_C  SAMP_DATE STORE_NUM XMOD  FINDING     system  chem  mcl
83041  1503669-001 2012-03-13     28011  NaN      3.4  1503669.0  None  NaN

In [244]:
raw_drinkchem[(raw_drinkchem['PRIM_STA_C'] == '1503669-001') & (raw_drinkchem['SAMP_DATE'] == '2012-03-13')
             & (raw_drinkchem['STORE_NUM'] == '28011')]

,PRIM_STA_C,SAMP_DATE,SAMP_TIME,LAB_NUM,ANADATE,INDATE,METHOD,INBY,SPECIAL,STORE_NUM,XMOD,FINDING
935227,1503669-001,2012-03-13,1500,5806,2012-03-26,2013-03-13,NaN,A,S,28011,NaN,3.4

In [165]:
kern_chem[kern_chem['STORE_NUM']=='28011']

        PRIM_STA_C  SAMP_DATE STORE_NUM XMOD  FINDING     system chem
83041  1503669-001 2012-03-13     28011  NaN      3.4  1503669.0  NaN

In [225]:
chem[chem['STORE_NUM'] == '28011']

Empty DataFrame
Columns: [STORE_NUM, CHEMICAL__, MCL]
Index: []

In [227]:
chem[chem['STORE_NUM'].str.contains('2801')]

    STORE_NUM                           CHEMICAL__   MCL
442     C2801  PERFLUOROBUTANESULFONIC ACID (PFBS)   0.0
566     28012                      URANIUM (PCI/L)  20.0

In [235]:
chem_sort = chem.sort_values('STORE_NUM')
chem_sort.reset_index(inplace=True)

In [237]:
chem_sort[chem_sort['STORE_NUM'] == '28012']

    index STORE_NUM       CHEMICAL__   MCL
70    566     28012  URANIUM (PCI/L)  20.0

In [239]:
chem_sort.iloc[69:73]

    index STORE_NUM                     CHEMICAL__   MCL
69    520     13502  STRONTIUM - 90 COUNTING ERROR   0.0
70    566     28012                URANIUM (PCI/L)  20.0
71    138     32101     BROMODICHLOROMETHANE (THM)   0.0
72    156     32102           CARBON TETRACHLORIDE   0.5

### Add well location (Lat, Long) columns

In [273]:
# Using a lambda function, create two columns for the chemical name and MCL from chem_dict
kern_chem['lat'] = kern_chem['PRIM_STA_C'].map(lambda x:
                                               well_loc[x][0] if x in well_loc.keys() else None)
kern_chem['long'] = kern_chem['PRIM_STA_C'].map(lambda x:
                                               well_loc[x][1] if x in well_loc.keys() else None)

In [274]:
kern_chem.head()

,PRIM_STA_C,SAMP_DATE,STORE_NUM,XMOD,FINDING,system,chem,mcl,lat,long
0,1500006-001,2012-01-06,71850,NaN,50.00,1500006.0,NITRATE (AS NO3),45.0,35.532686,-119.280146
1,1500006-001,2012-02-03,01501,NaN,3.65,1500006.0,GROSS ALPHA,15.0,35.532686,-119.280146
2,1500006-001,2012-02-03,01502,NaN,0.25,1500006.0,GROSS ALPHA COUNTING ERROR,0.0,35.532686,-119.280146
3,1500050-002,2012-08-08,01002,<,2.00,1500050.0,ARSENIC,10.0,35.108460,-118.379125
4,1500050-002,2012-08-08,01007,NaN,46.00,1500050.0,BARIUM,1000.0,35.108460,-118.379125

In [276]:
kern_chem[kern_chem['lat'].isnull()]

,PRIM_STA_C,SAMP_DATE,STORE_NUM,XMOD,FINDING,system,chem,mcl,lat,long
1727,1500209-901,2015-08-03,32101,<,0.50,NaN,BROMODICHLOROMETHANE (THM),0.0,NaN,NaN
1728,1500209-901,2015-08-03,32104,<,0.50,NaN,BROMOFORM (THM),0.0,NaN,NaN
1729,1500209-901,2015-08-03,32105,<,0.50,NaN,DIBROMOCHLOROMETHANE (THM),0.0,NaN,NaN
1730,1500209-901,2015-08-03,32106,NaN,0.53,NaN,CHLOROFORM (THM),0.0,NaN,NaN
1731,1500209-901,2015-08-03,77288,<,1.00,NaN,DICHLOROACETIC ACID (DCAA),0.0,NaN,NaN
1732,1500209-901,2015-08-03,82080,<,2.00,NaN,TOTAL TRIHALOMETHANES,80.0,NaN,NaN
1733,1500209-901,2015-08-03,82721,<,1.00,NaN,DIBROMOACETIC ACID (DBAA),0.0,NaN,NaN
1734,1500209-901,2015-08-03,82723,<,1.00,NaN,TRICHLOROACETIC ACID (TCAA),0.0,NaN,NaN
1735,1500209-901,2015-08-03,A-041,<,1.00,NaN,MONOBROMOACETIC ACID (MBAA),0.0,NaN,NaN
1736,1500209-901,2015-08-03,A-042,<,1.00,NaN,MONOCHLOROACETIC ACID (MCAA),0.0,NaN,NaN
1737,1500209-901,2015-08-03,A-049,<,1.00,NaN,HALOACETIC ACIDS (5) (HAA5),60.0,NaN,NaN
1738,1500209-901,2016-07-11,32101,<,0.50,NaN,BROMODICHLOROMETHANE (THM),0.0,NaN,NaN
1739,1500209-901,2016-07-11,32104,<,0.50,NaN,BROMOFORM (THM),0.0,NaN,NaN
1740,1500209-901,2016-07-11,32105,<,0.50,NaN,DIBROMOCHLOROMETHANE (THM),0.0,NaN,NaN
1741,1500209-901,2016-07-11,32106,<,0.50,NaN,CHLOROFORM (THM),0.0,NaN,NaN
1742,1500209-901,2016-07-11,77288,NaN,2.90,NaN,DICHLOROACETIC ACID (DCAA),0.0,NaN,NaN
1743,1500209-901,2016-07-11,82080,<,2.00,NaN,TOTAL TRIHALOMETHANES,80.0,NaN,NaN
1744,1500209-901,2016-07-11,82721,<,1.00,NaN,DIBROMOACETIC ACID (DBAA),0.0,NaN,NaN
1745,1500209-901,2016-07-11,82723,NaN,3.40,NaN,TRICHLOROACETIC ACID (TCAA),0.0,NaN,NaN
1746,1500209-901,2016-07-11,A-041,<,1.00,NaN,MONOBROMOACETIC ACID (MBAA),0.0,NaN,NaN
1747,1500209-901,2016-07-11,A-042,<,1.00,NaN,MONOCHLOROACETIC ACID (MCAA),0.0,NaN,NaN
1748,1500209-901,2016-07-11,A-049,NaN,6.30,NaN,HALOACETIC ACIDS (5) (HAA5),60.0,NaN,NaN
2146,1500211-900,2014-10-02,32101,<,0.50,NaN,BROMODICHLOROMETHANE (THM),0.0,NaN,NaN
2147,1500211-900,2014-10-02,32104,<,0.50,NaN,BROMOFORM (THM),0.0,NaN,NaN
2148,1500211-900,2014-10-02,32105,<,0.50,NaN,DIBROMOCHLOROMETHANE (THM),0.0,NaN,NaN
2149,1500211-900,2014-10-02,32106,<,0.50,NaN,CHLOROFORM (THM),0.0,NaN,NaN
2150,1500211-900,2014-10-02,77288,<,1.00,NaN,DICHLOROACETIC ACID (DCAA),0.0,NaN,NaN
2151,1500211-900,2014-10-02,82080,<,2.00,NaN,TOTAL TRIHALOMETHANES,80.0,NaN,NaN
2152,1500211-900,2014-10-02,82721,<,1.00,NaN,DIBROMOACETIC ACID (DBAA),0.0,NaN,NaN
2153,1500211-900,2014-10-02,82723,<,1.00,NaN,TRICHLOROACETIC ACID (TCAA),0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
191732,1510003-907,2018-04-03,00660,NaN,0.57,NaN,"PHOSPHATE, ORTHO",0.0,NaN,NaN
191733,1510003-907,2018-04-16,77288,NaN,27.00,NaN,DICHLOROACETIC ACID (DCAA),0.0,NaN,NaN
191734,1510003-907,2018-04-16,82721,<,0.00,NaN,DIBROMOACETIC ACID (DBAA),0.0,NaN,NaN
191735,1510003-907,2018-04-16,82723,NaN,31.00,NaN,TRICHLOROACETIC ACID (TCAA),0.0,NaN,NaN
191736,1510003-907,2018-04-16,A-041,<,0.00,NaN,MONOBROMOACETIC ACID (MBAA),0.0,NaN,NaN
191737,1510003-907,2018-04-16,A-042,NaN,2.30,NaN,MONOCHLOROACETIC ACID (MCAA),0.0,NaN,NaN
191738,1510003-907,2018-04-16,A-049,NaN,60.00,NaN,HALOACETIC ACIDS (5) (HAA5),60.0,NaN,NaN
191739,1510003-907,2018-04-16,32101,NaN,9.13,NaN,BROMODICHLOROMETHANE (THM),0.0,NaN,NaN
191740,1510003-907,2018-04-16,32104,<,0.00,NaN,BROMOFORM (THM),0.0,NaN,NaN
191741,1510003-907,2018-04-16,32105,NaN,1.64,NaN,DIBROMOCHLOROMETHANE (THM),0.0,NaN,NaN
191742,1510003-907,2018-04-16,32106,NaN,51.36,NaN,CHLOROFORM (THM),0.0,NaN,NaN
191743,1510003-907,2018-04-16,82080,NaN,62.30,NaN,TOTAL TRIHALOMETHANES,80.0,NaN,NaN
191744,1510003-907,2018-04-17,00660,NaN,0.57,NaN,"PHOSPHATE, ORTHO",0.0,NaN,NaN
191745,1510003-907,2018-05-10,77288,NaN,4.00,NaN,DICHLOROACETIC ACID (DCAA),0.0,NaN,NaN
191746,1510003-907,2018-05-10,82721,<,0.00,NaN,DIBROMOACETIC ACID (DBAA),0.0,NaN,NaN
191747,1510003-907,2018-05-10,82723,NaN,4.70,NaN,TRICHLOROACETIC ACID (TCAA),0.0,NaN,NaN
191748,1510003-907,2018-05-10,A-041,<,0.00,NaN,MONOBROMOACETIC ACID (MBAA),0.0,NaN,NaN
191749,1510003-907,2018-05-10,A-042,<,0.00,NaN,MONOCHLOROACETIC ACID (MCAA),0.0,NaN,NaN
191750,1510003-907,2018-05-10,A-049,NaN,8.70,NaN,HALOACETIC ACIDS (5) (HAA5),60.0,NaN,NaN
191751,1510003-907,2018-07-17,32101,NaN,6.21,NaN,BROMODICHLOROMETHANE (THM),0.0,NaN,NaN
191752,1510003-907,2018-07-17,32104,NaN,0.91,NaN,BROMOFORM (THM),0.0,NaN,NaN
191753,1510003-907,2018-07-17,32105,NaN,2.50,NaN,DIBROMOCHLOROMETHANE (THM),0.0,NaN,NaN
191754,1510003-907,2018-07-17,32106,NaN,31.99,NaN,CHLOROFORM (THM),0.0,NaN,NaN
191755,1510003-907,2018-07-17,82080,NaN,41.60,NaN,TOTAL TRIHALOMETHANES,80.0,NaN,NaN
191756,1510003-907,2018-07-17,77288,NaN,11.00,NaN,DICHLOROACETIC ACID (DCAA),0.0,NaN,NaN
191757,1510003-907,2018-07-17,82721,<,0.00,NaN,DIBROMOACETIC ACID (DBAA),0.0,NaN,NaN
191758,1510003-907,2018-07-17,82723,NaN,13.00,NaN,TRICHLOROACETIC ACID (TCAA),0.0,NaN,NaN
191759,1510003-907,2018-07-17,A-041,<,0.00,NaN,MONOBROMOACETIC ACID (MBAA),0.0,NaN,NaN
191760,1510003-907,2018-07-17,A-042,<,0.00,NaN,MONOCHLOROACETIC ACID (MCAA),0.0,NaN,NaN
191761,1510003-907,2018-07-17,A-049,NaN,24.00,NaN,HALOACETIC ACIDS (5) (HAA5),60.0,NaN,NaN

## Notes: Investigate missing locations for wells here

## Water System Information

In [37]:
raw_drinksys = pd.read_excel('./assets/Drinkingwater/watsys.xlsx')

In [38]:
print(raw_drinksys.shape)
raw_drinksys.head()

(15056, 11)

,SYSTEM_NO,SYSTEM_NAM,HQNAME,ADDRESS,CITY,STATE,ZIP,ZIP_EXT,POP_SERV,CONNECTION,AREA_SERVE
0,2800064,DAKOTA SHY WINERY,NaN,771 Sage Canyon Road,ST. HELENA,CA,94574,NaN,30.0,1.0,NaN
1,5403214,NaN,THREE RIVERS HISTORICAL MUSEUM,42268 SIERRA DR,THREE RIVERS,CA,93271,NaN,25.0,2.0,NaN
2,4000829,VINES R.V. RESORT,NaN,88 WELLSONA,PASO RO,CA,93446,NaN,400.0,1.0,NaN
3,0103039,MOHRLAND MUTUAL WATER SYSTEM,MOHRLAND MUTUAL,24927 Mohr Drive,HAYWARD,CA,94545,tt,116.0,99.0,NaN
4,0103040,NORRIS CANYON PROPERTY OWNERS ASSN.,NORRIS CANYON P,8653 Norris Canyon Road,CASTRO VALLEY,CA,94552,S,50.0,19.0,NaN

In [39]:
raw_drinksys['SYSTEM_NO'].unique()

array(['2800064', '5403214', '4000829', ..., '3107347', '1000644',
       '1504009'], dtype=object)

In [40]:
kern_sys = raw_drinksys[raw_drinksys['SYSTEM_NO'].str.startswith('15')].copy()

In [41]:
kern_sys.describe().T

            count         mean           std  min  25%   50%    75%       max
POP_SERV    688.0  1729.944767  12869.890514  0.0  0.0  50.5  205.5  279701.0
CONNECTION  688.0   386.127907   3405.147393  0.0  1.0   7.0   36.0   74682.0

In [42]:
kern_sys[kern_sys['POP_SERV'] == kern_sys['POP_SERV'].max()]

,SYSTEM_NO,SYSTEM_NAM,HQNAME,ADDRESS,CITY,STATE,ZIP,ZIP_EXT,POP_SERV,CONNECTION,AREA_SERVE
2977,1510003,CWS - BAKERSFIELD,O2,P O BOX 1150,BAKERSFIELD,CA,93304,304,279701.0,74682.0,CALIFORNIA WTR SERV CO. BKSFLD

### Notes

Right off I'm sure I'll need SystemNo, which is county number + sys type + sequence number, so again only need those that start with 15. If I have that I won't need system name, HQ name, address, city, state, zip, or zip ext. I could extract a really rough location from the address (lat, long). Population served is important and probably the only other important info from this table.

In [43]:
kern_sys.drop(['SYSTEM_NAM', 'HQNAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP', 'ZIP_EXT', 'AREA_SERVE'], axis=1, inplace=True)

### Notes

Actually rethinking this dataset. If drinking water quality is my target, then Population Served and Number of Connections don't really make sense to look at for inference or predictions. These factors would only serve to support analysis to emphasize impact of findings like a cost-benefit analysis.

## Groundwater Data

In [46]:
raw_gw = pd.read_csv('./assets/Groundwater/KernEDF.txt', sep='\t')

In [47]:
raw_gw.shape

(1111372, 23)

In [18]:
raw_gw.shape

(1048575, 23)

In [48]:
raw_gw.head()

,COUNTY,GLOBAL_ID,FIELD_PT_NAME,LOGDATE,LOGTIME,LOGCODE,SAMPID,MATRIX,LABWO,LABCODE,...,ANADATE,BASIS,PARLABEL,PARVAL,PARVQ,LABDL,REPDL,UNITS,DILFAC,LNOTE
0,Kern,GAGW10000018,NCL-2-02,2014-11-21,930.0,BTSC,NCL-2-02,W,94042-1,TAIC,...,2014-11-25,N,BZ,0.000,ND,0.250,2.0,UG/L,1.0,NaN
1,Kern,GAGW10000018,NCL-2-02,2014-11-21,930.0,BTSC,NCL-2-02,W,94042-1,TAIC,...,2014-11-25,N,XYLO,0.000,ND,0.250,2.0,UG/L,1.0,NaN
2,Kern,GAGW10000018,NCL-2-02,2014-11-21,930.0,BTSC,NCL-2-02,W,94042-1,TAIC,...,2014-12-23,N,RA226228,0.691,=,0.377,5.0,PCI/L,1.0,NaN
3,Kern,GAGW10000018,NCL-28E4,2014-09-12,1000.0,BTSC,NCL-28E4,W,88029-1,TAIC,...,2014-09-13,N,HCO3,0.000,ND,4.800,4.8,MG/L,1.0,NaN
4,Kern,GAGW10000018,NCL-2-02,2016-05-10,908.0,BTST,Monitoring Well #2-02,W,NaN,BCLB,...,2016-05-17,N,CR,1.600,=,1.100,10.0,UG/L,1.0,"J,DX"

In [49]:
raw_gw.tail()

,COUNTY,GLOBAL_ID,FIELD_PT_NAME,LOGDATE,LOGTIME,LOGCODE,SAMPID,MATRIX,LABWO,LABCODE,...,ANADATE,BASIS,PARLABEL,PARVAL,PARVQ,LABDL,REPDL,UNITS,DILFAC,LNOTE
1111367,Kern,T10000008191,FS-3,2017-11-08,1215.0,SISL,FS-3-S-1-20171108,SO,1704155,OECS,...,2017-11-16,W,BHCALPHA,0.0,ND,0.0015,0.003,MG/KG,1.0,NaN
1111368,Kern,T10000008191,FS-3,2017-11-08,1215.0,SISL,FS-3-S-1-20171108,SO,1704155,OECS,...,2017-11-10,W,NAPH,0.0,ND,0.0500,0.100,MG/KG,1.0,NaN
1111369,Kern,T10000008191,FS-2,2017-11-08,1210.0,SISL,FS-2-S-1-20171108,SO,1704155,OECS,...,2017-11-09,W,TCB124,0.0,ND,0.0020,0.005,MG/KG,1.0,NaN
1111370,Kern,T10000008191,SUNSET-SW-,2018-03-15,1400.0,SISL,Sunset-SW-9-S-N-2.5-20180,SO,1801216,OECS,...,2018-03-19,W,NAPH,0.0,ND,0.0020,0.005,MG/KG,1.0,NaN
1111371,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
raw_gw.columns

Index(['COUNTY', 'GLOBAL_ID', 'FIELD_PT_NAME', 'LOGDATE', 'LOGTIME', 'LOGCODE',
       'SAMPID', 'MATRIX', 'LABWO ', 'LABCODE', 'LABSAMPID', 'ANMCODE',
       'LABLOTCTL', 'ANADATE', 'BASIS', 'PARLABEL', 'PARVAL', 'PARVQ', 'LABDL',
       'REPDL', 'UNITS', 'DILFAC', 'LNOTE'],
      dtype='object')

In [36]:
raw_gw['FIELD_PT_NAME'].unique()

array(['NCL-2-02', 'NCL-28E4', 'QCTB', ..., 'A2-SW16', 'OW-21', nan],
      dtype=object)

## Saving all files to a local Postgres database for safekeeping

In [19]:
from sqlalchemy import create_engine

In [26]:
#postgres is on local drive

engine = create_engine('postgresql://postgres:pleasethx123Bang@localhost:5432/dw_chem')

In [31]:
raw_drinkchem.to_sql('dw_chem',con=engine,if_exists='replace',index=False)

store_num.to_sql('storet', con=engine, if_exists='replace', index=False)

raw_drinksys.to_sql('dw_sys', con=engine, if_exists='replace', index=False)

raw_drinksite.to_sql('dw_site', con=engine, if_exists='replace', index=False)

raw_gw.to_sql('raw_gw', con=engine, if_exists='replace', index=False)

raw_gw_loc.to_sql('gw_loc', con=engine, if_exists='replace', index=False)